<div class="container-fluid">
	<div class="row hero-wrapper">
		<div class="jumbotron hero-image col-lg-8">
			<h1>The phoneBook App</h1>
			<p>Start managing your phone data now.</p>
			<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
			<!-- <img src="../assets/img/phone.png" alt=""> -->
		</div>
		<div class="col-lg-4 img-phone">
			<img src="../assets/img/phone2.jpg" alt="">
		</div>
	</div>
</div>
<div class="col-lg-12">
<img src="../assets/img/office.jpg" alt=""><
</div>
<div class="col-lg-12 heading-table">
<h1>Store your data safely & easyily.</h1>
</div>

