.hero-image {
	 background-color: white;
}

/* div {
	border: 1px solid red;
} */

img {
	width: 100%;
	height: auto;
}

.hero-wrapper {
	margin-top: 10%;
}

.heading-table h1 {
	text-align: center;
}

