<form class="form-inline form-wrapper">
        <input name="searchInput" class="form-control" placeholder="Search" #searchInput="ngModel" [(ngModel)]="searchText" style="width: 80%;">
        <button class="btn btn-outline-primary" (click)="searchText=''">x</button>
</form>
<div class="alert alert-danger" *ngIf="showDeletedMessage">Deleted successfully</div>
<table class="table table-sm">
        <thead>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone Number</th>
                <th>E-Mail</th>
        </thead>
        <ng-container *ngFor="let number of numberArray">
                <tr class="table-dark" *ngIf="filterCondition(number)">
                        <td>{{number.firstName}}</td>
                        <td>{{number.lastName}}</td>
                        <td>{{number.number}}</td>
                        <td>{{number.email}}</td>
                        <td>
                                <button class="btn btn-info" (click)="numberService.populateForm(number)"><span class="glyphicon glyphicon-cog"></span></button>
                                <button class="btn btn-danger" (click)="onDelete(number.$key)"><span class="glyphicon glyphicon-minus"></span></button>
                        </td>
                </tr>
        </ng-container>
</table>